
@font-face {
 font-family: "KodeMono-VariableFont_wght";
 src: local("KodeMono-VariableFont_wght"),
 url(./KodeMono-VariableFont_wght.ttf) format("opentype");
  src:  url('./KodeMono-VariableFont_wght.ttf');
}
body{
  font-family: "KodeMono-VariableFont_wght";
    font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: #FAF8F1; 
  color: #081b46;
  
}
.container{
  border-radius: 20px 20px 20px 20px;
 
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.top-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-dark{
  background-color:#081b46;
  color: #FAF8F1;
  
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.markdown{
  table {
    border-collapse: collapse;
  }


  p {
    line-height: 1.5;
  }
}

.box {
  display: flex;
}

.one {
  flex: 1 1 auto;
}

.two {
  flex: 1 1 auto;
}


.three {
  flex: 1 1 auto;
}

.button-light {
  background-color: #081b46;
  border-color: #081b46;
  border-radius: 20px 20px 20px 20px;
  color: #FAF8F1;

}
.button-black {
  background-color: #FAF8F1;
  border-color: #FAF8F1;
  color: #081b46;
  border-radius: 20px 20px 20px 20px;


}

.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: #081b46;
}

.button-black.button-clear {
  border-color: transparent;
}
a{
  color: #081b46;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff5c00
}
div.horizontalgap {
  padding: 5px;
}
@media (max-width: 767px) {                  
  .content-to-hide {
     display: none;
  }
}

.yellow{
  font-size: 20px;
  color: #1d51c9
  }

.img1{
  opacity: 0.90;
  min-height: 400px;
  max-width: 100%; 
display: block; 
height: auto;
height: auto;
width: 100%;

}


.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.row.row-no-padding {
  padding: 0;
}

.row.row-no-padding > .column {
  padding: 0;
}

.row.row-wrap {
  flex-wrap: wrap;
}

.row.row-top {
  align-items: flex-start;
}

.row.row-bottom {
  align-items: flex-end;
}

.row.row-center {
  align-items: center;
}

.row.row-stretch {
  align-items: stretch;
}

.row.row-baseline {
  align-items: baseline;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.row .column.column-offset-10 {
  margin-left: 10%;
}

.row .column.column-offset-20 {
  margin-left: 20%;
}

.row .column.column-offset-25 {
  margin-left: 25%;
}

.row .column.column-offset-33, .row .column.column-offset-34 {
  margin-left: 33.3333%;
}

.row .column.column-offset-40 {
  margin-left: 40%;
}

.row .column.column-offset-50 {
  margin-left: 50%;
}

.row .column.column-offset-60 {
  margin-left: 60%;
}

.row .column.column-offset-66, .row .column.column-offset-67 {
  margin-left: 66.6666%;
}

.row .column.column-offset-75 {
  margin-left: 75%;
}

.row .column.column-offset-80 {
  margin-left: 80%;
}

.row .column.column-offset-90 {
  margin-left: 90%;
}

.row .column.column-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.row .column.column-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row .column.column-33, .row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.row .column.column-40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row .column.column-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.row .column.column-66, .row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row .column.column-80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.row .column .column-top {
  align-self: flex-start;
}

.row .column .column-bottom {
  align-self: flex-end;
}

.row .column .column-center {
  align-self: center;
}


.textarea {
  height: 500px;
}
.color1 {color: #081b46;}
.color2 {color: #207bd8;}
.color3 {color: #20a7d8;}
.color4 {background-color: #fdb44b;}
.color5 {background-color: #e3efed;}
.hide{
  display:none
}
.btn-danger{
  	background-color: #faf2f1; 
  color: #081b46;
}

.first-color { 
  background-color: #FAF8F1; 
   color: #081b46;
}
	
.second-color { 
	background-color: #faf2f1; 
  color: #081b46;
}

.third-color { 
  background-color: #f1f7fa; 
     color: #081b46;
}
.fourth-color { 
  background-color: #faf2f1; 
     color: #081b46;
}
.fifth-color { 
  background-color: #081b46; 
    color: #faf2f1;
}
.sixth-color { 
  background-color: #eed9fc; 
     color: #081b46;
}


.c{ 
  width: 100%;
  min-width: 0px;
 max-width: 1000px;
 min-height: 200px;
 max-height: 1000px;
 
   background-color: #c9c5b1; margin: 0 auto; }
   @media only screen 
   and (min-device-width : 320px) 
   and (max-device-width : 480px) { .c { display: none; }}
   @media only screen and (min-width: 768px) {
    .tuto {
      display: none;
    }
  }
  .log{
    overflow: auto;
max-height: 80vh;
  }
  .log2{
    overflow: auto;
max-height: 90vh;
  }
  .cards {
    max-width: 1100px;
    margin: 1em auto;
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
  }
  
  .card {
    border: 1px solid #FAF8F1;
    border-radius: 3px;
    background-color: #FAF8F1;
    word-break:break-all;
    display: grid;
    grid-template-rows: max-content 50px 1fr;

  }
  .card h6 {
    margin: 0;
    padding: 0.5rem;
  }
  
  .card .content {
    padding: 0.5rem;
  }
  .card footer {
    background-color: #FAF8F1;
    padding: 0.5rem;
  }
.editor-c{
  height: 90vh;
}

.scroll
{
  height: 60vh;
    overflow-y: scroll;
   
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.column{
  word-break: break-all;
  border-radius: 20px 20px 20px 20px;

}
.row{
  border-radius: 30px 30px 30px 30px;

}
.p{
  word-break: break-all;
}
.scroll2
{
  height: 50vh;
     overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}